* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(158, 177, 196);
    color: rgb(71, 71, 234);
    font-size: larger;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

input {
    width: 80%;
    max-width: 300px;
    padding: 17px;
    border-radius: 15px;
    border-color: blue;
    margin-top: 10%;
    font-size: 1.1em;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

section {
    height: 100vh;
    width: 20%;
    background-color: rgb(71, 71, 234);
    position: absolute;
    overflow-y: auto;
    /* Abilita lo scorrimento verticale */
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: #aaa transparent;
}

#barraSx {
    left: 0;
    top: 0;
}

#barraDx {
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

#barraDx ul li {
    cursor: pointer;
    /* Ripristina il comportamento del cursore */
    margin-bottom: 5px;
    padding: 5px 0;
}

ul {
    list-style-type: none;
    line-height: 2.5;
    font-size: 1.5em;
    padding: 5px;
}

#barraSx li {
    transition: background-color 0.3s ease;
}

#barraSx li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.evidenziato {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}

#svuotaCarrello {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 1em;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#svuotaCarrello:hover {
    background-color: darkred;
}

section::-webkit-scrollbar {
    width: 8px;
}

section::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 5px;
}

section::-webkit-scrollbar-track {
    background-color: transparent;
}

@media screen and (max-width: 1000px) {
    section {
        display: none;
    }

    main {
        padding: 10px;
        font-size: 1em;
        width: 100%;
    }

    input {
        width: 100%;
        max-width: 350px;
    }
}